/* Temas del segundo período*/

.texto {
  font-size: 50px;
  padding-top: 140px;
  text-align: justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
  color: #413a68;
}
.principal {
  display: flex;
}
body {
  background-image: url("fresitas.jpg");
}

.img1 {
  height: 400px;
  width: 600px;
  background-image: url("circuito.jpg");
  background-repeat: no-repeat;
  float: left;
}

.img2 {
  height: 450px;
  width: 600px;
  background-image: url("Paulí.jfif");
  background-repeat: no-repeat;
}

.img3 {
  height: 1000px;
  width: 1000px;
  background-image: url("lol.jpeg");
  background-repeat: no-repeat;
}

.img4 {
  height: 500px;
  width: 500px;
  background-image: url("oki1.webp");
  background-repeat: no-repeat;
}    
.img5 {
  height: 500px;
  width: 500px;
  background-image: url("oki22.webp");
  background-repeat: no-repeat;
}        
.img6 {
  height: 500px;
  width: 500px;
  background-image: url("oki\ 2.webp");
  background-repeat: no-repeat;
}        
.img7 {
  height: 500px;
  width: 1000px;
  background-image: url("embri\ 1.jpg");
  background-repeat: no-repeat;
}        
.img8 {
  height: 800px;
  width: 1000px;
  background-image: url("embri\ 2.jpeg");
  background-repeat: no-repeat;
}        
.img9 {
  height: 500px;
  width: 1000px;
  background-image: url("rawr.jpg");
  background-repeat: no-repeat;
}