/* Temas del segundo período*/

.texto {
  font-size: 40px;
  padding-top: 140px;
  text-align: justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
  color: #413a68;
}
.principal {
  display: flex;
}
body {
  background-image: url("fresitas.jpg");
}

.img1 {
  height: 400px;
  width: 600px;
  background-image: url("circuito.jpg");
  background-repeat: no-repeat;
  float: left;
}

.img2 {
  height: 450px;
  width: 600px;
  background-image: url("Paulí.jfif");
  background-repeat: no-repeat;
}

.img3 {
  height: 1000px;
  width: 1000px;
  background-image: url("lol.jpeg");
  background-repeat: no-repeat;
}

.img4 {
  height: 500px;
  width: 500px;
  background-image: url("oki1.webp");
  background-repeat: no-repeat;
}    
.img5 {
  height: 500px;
  width: 500px;
  background-image: url("oki22.webp");
  background-repeat: no-repeat;
}        
.img6 {
  height: 500px;
  width: 500px;
  background-image: url("oki\ 2.webp");
  background-repeat: no-repeat;
}        
.img7 {
  height: 500px;
  width: 1000px;
  background-image: url("embri\ 1.jpg");
  background-repeat: no-repeat;
}        
.img8 {
  height: 800px;
  width: 1000px;
  background-image: url("embri\ 2.jpeg");
  background-repeat: no-repeat;
}        
.img9 {
  height: 500px;
  width: 1000px;
  background-image: url("rawr.jpg");
  background-repeat: no-repeat;
}
.img10 {
  height: 1000px;
  width: 1000px;
  background-image: url("enlace-de-hidrogeno.png");
  background-repeat: no-repeat;
}

.img11 {
  height: 900px;
  width: 800px;
  background-image: url("enlace-metalico-e1602338829425.png");
  background-repeat: no-repeat;
}
.img12 {
  height: 1000px;
  width: 1000px;
  background-image: url("enlace-covalente-simple-e1535458209730.jpg");
  background-repeat: no-repeat;
}
.img13 {
  height: 300px;
  width: 500px;
  background-image: url("images.png");
  background-repeat: no-repeat;
}
.img14 {
  height: 1000px;
  width: 1100px;
  background-image: url("mapa.jpeg");
  background-repeat: no-repeat;
}
.img15 {
  height: 200px;
  width: 500px;
  background-image: url("Captura\ de\ pantalla\ 2024-10-23\ 221047.png");
  background-repeat: no-repeat;
}
.img16 {
  height:100px;
  width: 500px;
  background-image: url("okiii.png");
  background-repeat: no-repeat;
}
.img17 {
  height: 200px;
  width: 500px;
  background-image: url("loli.png");
  background-repeat: no-repeat;
}
.img18 {
  height: 200px;
  width: 500px;
  background-image: url("mu");
  background-repeat: no-repeat;
}
.img19 {
  height: 200px;
  width: 500px;
  background-image: url("help.png");
  background-repeat: no-repeat;

}
.img20 {
  height: 200px;
  width: 500px;
  background-image: url("noche.png");
  background-repeat: no-repeat;
}
.img21 {
  height: 200px;
  width: 500px;
  background-image: url("c.png");
  background-repeat: no-repeat;
}
.img22 {
  height: 200px;
  width: 500px;
  background-image: url("caa.png");
  background-repeat: no-repeat;
}
.img23 {
  height: 200px;
  width: 500px;
  background-image: url("oki5566.png");
  background-repeat: no-repeat;
}
.img24 {
  height: 200px;
  width: 500px;
  background-image: url("sapa.png");
  background-repeat: no-repeat;
}
.img25 {
  height: 150px;
  width: 300px;
  background-image: url("woof\ woof.png");
  background-repeat: no-repeat;
}
.img26 {
  height: 70px;
  width: 500px;
  background-image: url("meow.png");
  background-repeat: no-repeat;
}
.img27 {
  height: 150px;
  width: 300px;
  background-image: url("nose.png");
  background-repeat: no-repeat;
}
.img28 {
  height: 150px;
  width: 300px;
  background-image: url("quepongo.png");
  background-repeat: no-repeat;
}
.img29 {
  height: 150px;
  width: 300px;
  background-image: url("okokokok.png");
  background-repeat: no-repeat;
}
.img30 {
  height: 150px;
  width: 300px;
  background-image: url("estoycansadaaaaaaaaaa.png");
  background-repeat: no-repeat;
}
.img31 {
  height: 150px;
  width: 300px;
  background-image: url("woof\ woof.png");
  background-repeat: no-repeat;
}
.img32 {
  height: 150px;
  width: 300px;
  background-image: url("woof\ woof.png");
  background-repeat: no-repeat;
}
.img33 {
  height: 150px;
  width: 300px;
  background-image: url("woof\ woof.png");
  background-repeat: no-repeat;
}
.img34 {
  height: 150px;
  width: 300px;
  background-image: url("woof\ woof.png");
  background-repeat: no-repeat;
}
.img35 {
  height: 150px;
  width: 300px;
  background-image: url("woof\ woof.png");
  background-repeat: no-repeat;
}
.img36 {
  height: 150px;
  width: 300px;
  background-image: url("woof\ woof.png");
  background-repeat: no-repeat;
}
.img37 {
  height: 150px;
  width: 300px;
  background-image: url("woof\ woof.png");
  background-repeat: no-repeat;
}